.modules-panel {
  display: flex;
  width: 70vw;
  height: 70vh;

  &__right {
    width: 85%;
  }

  &__list {
    width: 15%;
    overflow-y: auto;
    padding: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 80px;
      background-color: #eee;
      color: #000;
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &.is-active {
        background-color: #bad6ff;
      }
    }
  }

  &__submit-wrap {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
  }

  &__display {
    padding: 10px;
    height: 85%;
  }

  &__display-content {
    overflow-y: auto;
    height: 100%;
    text-align: left;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
