.convert-panel {
  width: 300px;
  padding: 20px;

  label {
    display: block; 
  }

  &__submit {
    display: inline-block;
    color: #fff!important;
    background-color: #000;
    padding: 8px 15px;
  }
}
