{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-decorators-legacy"],
    ["transform-class-properties"]
  ],
}
