.holy-editor-theme--default {
  .container {
    display: block;
    color: red;

    .name_d {
      display: block;
    }
  }

  .container_x {
    display: block;
    color: red;

    .name_d {
      display: block;
    }
  }
}
