.link-panel {
  display: block;
  padding: 20px;

  label {
    font-size: 12px;
    margin-bottom: 3px;
  }

  input {
    width: 100%;
    padding: 5px;
    outline: 0;
  }

  &__target {
    display: block;
  }

  &__url {
    display: block;
  }

  &__content {
    display: block;
  }

  &__content-wrap {
    display: block;
  }

  &__target-wrap {
    display: block;
  }

  &__submit-wrap {
    display: block;
  }

  &__url-wrap {
    display: block;
  }
}


.area {
  a[data-heditor-selected="1"]{
    background-color: rgba(186, 188, 255, 0.5)
  }
}
