@import 'iconfont.scss';

a {
  text-decoration: none;
}

pre {
  margin: .5em 0,auto;
  padding: .4em .6em;
  border-radius: 5px;
  background: #f8f8f8;
}

.toolbars {
  display: block;
  width: 100%;
  background-color: #eee;
  padding: 10px;
}

.area {
  width: 100%;
  height: 350px;
  border: 1px solid #eee;
  outline: 0;
  padding: 10px;
  overflow: auto;
}

.tool {
  display: inline-block;
  margin-right: 10px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 4px;

  a {
    color: #ddd;
  }

  &.is-available {

    a {
      color: #000;
    }

    &.is-active {
      a {
        color: red;
      }
    }
  }

  &--title {
    display: inline-block;
  }

  &--bold {
    display: inline-block;
  }

  &--modules {
    display: inline-block;
  }

  &--italic {
    display: inline-block;
  }

  &--underline {
    display: inline-block;
  }

  &--strike-through {
    display: inline-block;
  }

  &--fore-color {
    display: inline-block;
  }

  &--order-list {
    display: inline-block;
  }

  &--unorder-list {
    display: inline-block;
  }

  &--image {
    display: inline-block;
  }

  &--code {
    display: inline-block;
  }

  &--quote {
    display: inline-block;
  }
}

@import './widget/menu.scss';
@import './widget/drop-down-menu.scss';
@import './widget/select-menu.scss';
@import './widget/modal.scss';
