@font-face {
  font-family: 'iconfont';  /* project id 412370 */
  src: url('//at.alicdn.com/t/font_412370_4lro87xed6byy14i.eot');
  src: url('//at.alicdn.com/t/font_412370_4lro87xed6byy14i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_412370_4lro87xed6byy14i.woff') format('woff'),
  url('//at.alicdn.com/t/font_412370_4lro87xed6byy14i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_412370_4lro87xed6byy14i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title:before { content: "\e62c"; }

.icon-font:before { content: "\e714"; }

.icon-bold:before { content: "\e600"; }

.icon-modules:before { content: "\e714"; }

.icon-triangle:before { content: "\e601"; }
