@font-face {
  font-family: 'iconfont';  /* project id 412370 */
  src: url('//at.alicdn.com/t/font_412370_zonpv5wvtz8pk3xr.eot');
  src: url('//at.alicdn.com/t/font_412370_zonpv5wvtz8pk3xr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_412370_zonpv5wvtz8pk3xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_412370_zonpv5wvtz8pk3xr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_412370_zonpv5wvtz8pk3xr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-size:before { content: "\e62c"; }

.icon-font:before { content: "\e714"; }

.icon-bold:before { content: "\e600"; }
