@font-face {
  font-family: 'iconfont';  /* project id 412370 */
  src: url('//at.alicdn.com/t/font_412370_6qv4t9lcd755qaor.eot');
  src: url('//at.alicdn.com/t/font_412370_6qv4t9lcd755qaor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_412370_6qv4t9lcd755qaor.woff') format('woff'),
  url('//at.alicdn.com/t/font_412370_6qv4t9lcd755qaor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_412370_6qv4t9lcd755qaor.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title:before { content: "\e62c"; }

.icon-font:before { content: "\e714"; }

.icon-bold:before { content: "\e600"; }

.icon-modules:before { content: "\e714"; }

.icon-triangle:before { content: "\e601"; }

.icon-italic:before { content: "\e7c5"; }

.icon-underline:before { content: "\e661"; }

.icon-strike-through:before { content: "\e723"; }

.icon-fore-color:before { content: "\e620"; }

.icon-back-color:before { content: "\e74f"; }
