.menu {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 30px;
  text-align: center;
  padding: 5px;

  .color-box {
    position: absolute;
    display: inline-block;
    width: 60%;
    left: 20%;
    bottom: 6px;
    height: 3px;
  }

  &.is-disabled {
    display: inline-block;
  }
}
