.popover {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 30px;
  min-height: 20px;
  transform: translateY(5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  z-index: 69;

  &.is-active {
    display: block;
    visibility: visible;
  }
}
