.select-menu {
  position: relative;
  height: 30px;

  &__list {
    position: absolute;
    visibility: hidden;
    width: 100%;
    top: 100%;
    left: 0;
    min-width: 30px;
    min-height: 20px;
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    z-index: 69;
  }

  &.is-active {
    .select-menu__list {
      visibility: visible;
    }
  }

  &.is-light:not(.is-disabled) {
    .select-menu__checked {
      color: red;
    }
  }

  &:not(.is-disabled) {
    .select-menu__checked:hover {
      background-color: #eee;
    }
  }

  &__checked {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-right: 20px;
    text-align: center;
    color: #000;

    .iconfont {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      font-size: 10px;
    }
  }

  &__label {
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px 0;
    color: #000;
    transition: all 0.2s;

    &:not(:last-child) {
      border-bottom: 1px solid #f1f1f1;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &__checked-label {
    display: inline-block;
  }
}
